.App {
  text-align: center;
  background: linear-gradient(
      rgba(59, 88, 200, 0.45),
      rgba(145, 53, 231, 0.377)
    ),
    url("images/backg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5%;
}
.gridTitle {
  padding-left: 30px;
  padding-right: 30px;
}
.introText {
  padding-left: 30px;
  padding-right: 30px;
}
.loadingBarContainer {
  position: relative;
  height: 20px;
  width: 100%;
  background: lightgray;
  border: 5px solid rgb(105, 105, 105);
  border-radius: 25px;
}
.loadingBarFiller {
  background: greenyellow;
  height: 100%;
  border-radius: inherit;
  transition: width 3s ease-in;
}
.NegotiateButton {
  box-shadow: 15px 15px 15px 5px #80808014;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.4s;
  margin: auto;
  width: 125px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  height: 70px;
}
.NegotiateButton:hover {
  background-color: rgb(187, 187, 187);
  transform: scale(1.05);
}
.NegotiateButton:active {
  background-color: yellow;
  transform: scale(1.05);
}
.NegotiateButtonText {
  margin: auto;
}
.ResultContainer {
  padding-right: 2%;
  padding-left: 2%;
}
.ResultText {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 4s;
}
.TeamCard {
  box-shadow: 15px 15px 15px 5px #80808014;
  border-radius: 8px;
  background-color: white;
  transition: transform 0.2s;
  width: 125px;
  height: 50px;
  margin: 2%;
}
.TeamCard:hover {
  background-color: yellow;
  transform: scale(1.05);
}
.TeamCard:focus {
  background-color: rgb(255, 81, 0);
  transform: scale(1.05);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
