.App {
  text-align: center;
  background: linear-gradient(
      rgba(59, 88, 200, 0.45),
      rgba(145, 53, 231, 0.377)
    ),
    url("images/backg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5%;
}
.gridTitle {
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  align-items: stretch;
  display: flex;
  background-color: rgba(0, 0, 0, 0.687);
  border-radius: 8px 8px 0px 0px;
}
.icon:hover {
  color: rgb(221, 221, 221);
}
.iconMinimise {
  color: #ffbd44;
}
.iconMinimise:hover {
  color: #d69c2f;
}
.macBarText {
  margin: 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.ResultContainer {
  max-width: 98%;
}

.ResultText {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  padding: 0px;
}
